.canvas-main {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 5px gray;
}

.diagram-canvas {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.delete-button {
  position: absolute;
  z-index: 1000;
  border: 0;
  margin: 0;
  padding: 0;
}

.block {
  
  &-content {
    outline: 0;
    text-align: center;
    position: absolute;      
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%) translateY(-50%);
    border: 0;
    background: 'none';
    cursor: default;
    white-space: pre
  }

  .on-hover-visible {
    visibility: hidden;
  }

  &:hover {
    .on-hover-visible {
      visibility: visible;
    }
  }

  .invisible {
    visibility: hidden;
  }
}