.diagram-canvas {
  height: 100%;
  width: 100%;
  background-color: white;
}

#b1 {
  position: relative;
  left: 35px;
  top: 70px;
  width: 100px;
  height: 65px;
  border: 1px solid black;
}

#b2 {
  position: relative;
  left: 65px;
  top: 105px;
  width: 100px;
  height: 65px;
  border: 1px solid black;
}

#b3 {
  position: relative;
  left: 5px;
  top: 50px;
  width: 100px;
  height: 65px;
  border: 1px solid black;
}