@import './Constants';

@import './MenuBar';
@import './StatusBar';
@import './Workspace';
@import './Main';
@import './Canvas';
@import './DropdownMenu';
@import './SavePanel';

body, html, #root {
  height: 100%;
  margin: 0;
  font-family: $main-font;
}