.menu-bar {
  z-index: 1000;
  grid-area: menubar;
  background-color: $main-color;
  display: flex;
}

.menu-item {
  width: 10%;
  min-width: 50px;
  border-right: 1px solid $second-color;
}