.status-bar {
  z-index: 1000;
  grid-area: statusbar;
  background-color: $main-color;
  color: $second-color;
  font-family: $main-font;
  font-size: $default-font-size;
  padding: 0.2em 0;

  display: grid;
  grid-template: 
    "statuslabel . diagramtypechooser scaleslider scalechooser fitwindow fitwidth" auto
    / auto 1fr auto auto auto auto;
  align-items: center;

  &-element {
    padding: 0 0.4em;
  }

  &-label {
    grid-area: statuslabel;
  }

  &-chooser {
    grid-area: diagramtypechooser;
    width: 15em;
    &:focus {
      outline: none;
    }
  }

  &-scaler {
    grid-area: scaleslider;

    padding-right: 0.2em;

    display: grid;
    grid-template:
      ". . ." auto
      / auto 1fr auto;
    align-items: center;

    &-label {
      font-size: 1rem;
      margin-top: -0.2em;
      cursor: pointer;
      user-select: none;
    }

    &-slider {
      margin: 0 0.3em;
      -webkit-appearance: none;
      height: 0.1em;
      border-radius: 100%;  
      background: $second-color;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }
    
    &-slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 0.8em;
      height: 0.8em;
      border-radius: 50%; 
      background: $second-color;
      cursor: pointer;
    }
    
    &-slider::-moz-range-thumb {
      width: 0.8em;
      height: 0.8em;
      border-radius: 50%;
      background: $second-color;
      cursor: pointer;
    }
  }

  &-scalechooser {
    grid-area: scalechooser;
    width: 4em;
    text-align: right;
  }

  &-button {
    color: $second-color;
    background-color: $main-color;
    padding: 0;
    width: 1em;
    height: 1em;
    border: 0;
    margin-right: 0.8em;
  }

  &-fit-window {
    grid-area: fitwindow;
  }

  &-fit-width {
    grid-area: fitwidth;
  }
}
