.tutorial {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $second-color;
  border: 1px solid $main-color;

  display: grid;
  grid-template: 
    "tutorial-header tutorial-header" auto
    "tutorial-navigation tutorial-body" 1fr
    / auto 1fr;

  &-header {
    grid-area: tutorial-header;
    background-color: $main-color;

    display: flex;
    justify-content: space-between;

    color: $second-color;

    &-label {
      padding: 0 0.4rem;
    }

    &-button {
      padding: 0 0.4rem;
      border-left: 1px solid $second-color;
      user-select: none;

      &:hover {
        color: $main-color;
        background-color: $second-color;
      }
    }
  }

  &-navigation {
    grid-area: tutorial-navigation;
    background-color: $second-color;
    min-width: 15rem;
    border-right: 1px solid $main-color;

    color: $dark-main-color;
    font-family: $main-font;

    &-element {
      user-select: none;
      padding: 0 0.5rem;
      &:hover {
        background-color: $main-color;
        color: $second-color;
      }
    }
  }

  &-body {
    grid-area: tutorial-body;
    background-color: $second-color;
  }

  &-invisible {
    display: none;
  }
}