.workspace {
  grid-area: canvas;
  place-self: stretch;
  background-color: $canvas-background-color;
  overflow-y: scroll;
  overflow-x: scroll;
  border-bottom: 1px solid transparent;
  transition: color 0.2s;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
  } 

  &::-webkit-scrollbar-thumb {
    background-color: $transparent-main-color;
    border-radius: 5px;


    &:hover {
      background-color: $main-color;
    }
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

.canvas-wrapper {
  position: relative;
}

.debug {
  position: absolute;
  left: 0;
  top: 20;
}