.workspace {
  grid-area: canvas;
  place-self: stretch;
  background-color: $canvas-background-color;
  overflow-y: scroll;
  overflow-x: scroll;
  border-bottom: 1px solid transparent;
  transition: color 0.2s;

  &::-webkit-scrollbar {
    width: 1.4vh;
    height: 1.4vh;
    background-color: transparent;
  } 

  &::-webkit-scrollbar-thumb {
    background-color: $transparent-main-color;
    border-radius: 1.4vh;


    &:hover {
      background-color: $main-color;
    }
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

.canvas-wrapper {
  position: relative;
}

.customization-panels {
  position: fixed;
  top: calc(1.3rem + 5vh);
  right: 1.4vh;

  &-spacing {
    height: 0.5rem;
    width: 100%;
    pointer-events: none;
  }
}